# mysqlクライアントツールの設定
[client]
port = 3306
default_character_set = utf8mb4

# MySQLサーバーへの設定
[mysqld]
# 文字コード/照合順序の設定
character_set_server = utf8mb4
collation_server = utf8mb4_ja_0900_as_cs_ks

# タイムゾーンの設定
default_time_zone = SYSTEM
log_timestamps = SYSTEM

# デフォルト認証プラグインの設定
default_authentication_plugin = mysql_native_password

binlog_expire_logs_seconds = 18000
explicit_defaults_for_timestamp = true

max_connections = 100

innodb_dedicated_server = ON
innodb_lock_wait_timeout = 120

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# 実行ログの設定
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4
